@font-face {
    font-family: "OpenDylexia Regular";
    src: url("../fonts/OpenDyslexic-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenDylexia Mono";
    src: url("../fonts/OpenDyslexicMono-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

#downloadButton {
  margin-top: 50pt;
}

textarea {
    font-family: "OpenDylexia Regular";
    font-weight: normal;
    font-style: normal;
<<<<<<< HEAD
}
=======
    overflow: auto;
}
>>>>>>> 18d7cd28249ac274e982e6ca338facb708df3329
